.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.imageDiv {
  height: auto;
  align-self: center;
  justify-content: center;
  padding-top: 10px;
  
}

