.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f8f1e9;
  min-height: 100vh;
}

.splash {
  
}

.titleDiv {
  height: 70vh;
  width: 50%;
  margin-top: 100px;
}