* {
  background-image: url("https://wallpaperaccess.com/full/1561985.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* * {
  background-color: blueviolet;
} */