.container {
  gap: 14px;
  width: 100%;
  display: flex;
  padding: 21px;
  /* grid-template-columns: repeat(1, 1fr); */
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid red;
  overflow: scroll;
}

.container section{
  width: 50% !important;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: center; */
  padding: 0 40px;

}

.container section img {
  width: 100% !important;
  object-fit: cover;
}

.cast {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#selected {
  border: 1px solid green;
}